{% extends 'base.html.twig' %}

{% block title %}Biens{% endblock %}

{% block body %}
    <h1>Biens</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bien.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bien.titre }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td><img src="{{ asset('uploads/files/' ~ bien.file) }}" alt="Card image"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bien.description }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ bien.surface }}</td>
            </tr>
            <tr>
                <th>Piece</th>
                <td>{{ bien.piece }}</td>
            </tr>
            <tr>
                <th>Chambre</th>
                <td>{{ bien.chambre }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ bien.ville }}</td>
            </tr>
            <tr>
                <th>CodePostale</th>
                <td>{{ bien.codePostale }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ bien.prix }}</td>
            </tr>
            <tr>
                <th>Vendu</th>
                <td>{{ bien.vendu ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ bien.createdAt ? bien.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('biens_index') }}">back to list</a>

    <a href="{{ path('biens_edit', {'id': bien.id}) }}">edit</a>

    {{ include('biens/_delete_form.html.twig') }}
{% endblock %}
